## 1. Read a .csv file from a URL with PANDAS

In [14]:
import pandas as pd

In [15]:
df_premier_21 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv')
# assigning a variable df_premier_21.

In [16]:
# showing first 10 rows dataframe 
df_premier_21.head(10)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
5,E0,12/08/2023,15:00,Sheffield United,Crystal Palace,0,1,A,0,0,...,1.53,0.25,2.10,1.83,2.10,1.84,2.12,1.86,2.05,1.83
6,E0,12/08/2023,17:30,Newcastle,Aston Villa,5,1,H,2,1,...,2.22,-0.75,1.84,2.09,1.85,2.09,1.87,2.13,1.82,2.06
7,E0,13/08/2023,14:00,Brentford,Tottenham,2,2,D,2,2,...,2.15,0.00,1.88,2.02,1.89,2.03,1.95,2.05,1.89,1.98
8,E0,13/08/2023,16:30,Chelsea,Liverpool,1,1,D,1,1,...,2.52,0.25,1.98,1.92,2.00,1.93,2.03,2.08,1.91,1.96
9,E0,14/08/2023,20:00,Man United,Wolves,1,0,H,0,0,...,2.37,-1.50,1.80,2.00,1.82,2.08,1.88,2.14,1.82,2.05

In [17]:
# rename column_name 
df_premier_21.rename(columns={'FTHG' : 'home_goal' , 'FTAG' : 'away_goal'}, inplace = True)
# syntax: table_name.rename(columns = {key : value, key : value, ...}, inplace = True)
# 'FTHG' : 'home_goal' is a key : value where current column name: FTHG is KEY and 
# renamed column name: home_goal is VALUE
# To update the column name we write inplace = True  where True is case sensitive

In [20]:
df_premier_21

,Div,Date,Time,HomeTeam,AwayTeam,home_goal,away_goal,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,E0,24/02/2024,15:00,Man United,Fulham,1,2,A,0,0,...,2.48,-0.75,1.75,2.05,1.83,2.11,1.90,2.14,1.80,2.06
254,E0,24/02/2024,17:30,Bournemouth,Man City,0,1,A,0,1,...,2.65,1.25,1.92,1.98,1.93,2.00,1.95,2.09,1.86,2.00
255,E0,24/02/2024,20:00,Arsenal,Newcastle,4,1,H,2,0,...,2.76,-1.50,2.01,1.89,2.02,1.91,2.04,1.94,1.97,1.90
256,E0,25/02/2024,13:30,Wolves,Sheffield United,1,0,H,1,0,...,2.10,-1.00,1.73,2.08,1.79,2.13,1.83,2.15,1.79,2.10
257,E0,26/02/2024,20:00,West Ham,Brentford,4,2,H,2,1,...,2.06,-0.25,2.01,1.89,2.03,1.90,2.06,1.90,2.02,1.85

In [27]:
# Specify the folder path
folder_path = r'C:\Users\akrjha\Desktop\MC Scorecard\\'
# Save the DataFrame to a CSV file in the specified folder
df_premier_21.to_csv(folder_path + 'premier_21.csv', index=False)

In [28]:
print(type(df_premier_21))

<class 'pandas.core.frame.DataFrame'>